# Open Tasks

{% for project, project_tasks in data.items() -%}
Project: {{ project }}
{% for task in project_tasks -%}
- [ ] (Status: {{ task.status }}) (Project: {{ task.project }}) {{ task.description }} {{ task.uuid }}
{% endfor %}
{% endfor %}

# New Tasks

Tick box when task is ready to be added.

- [ ] Project: "" Description: ""
